* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cairo", sans-serif;
    background-image: url(background-home-desktop.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    padding: 2rem;
    max-width: 420px;
    background: #000000d0;
    border-radius: 25px;
    backdrop-filter: blur(5px);
    color: white;
    width: 100%;
    /* height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; */
}

.weather h3 {
    margin: 1rem 0;
}

.weather h1 {
    margin: 1rem 0;
}

.weather div {
    margin-top: 0.5rem;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    color: white;
    background-color: #7c7c7c2b;
    font-size: 120%;
    width: calc(100% - 2.5rem);
}

button {
    margin: 0.5rem;
    border: none;
    outline: none;
    background-color: #fff;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: #7c7c7c2b;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #7c7c7c6b;
}

.flex {
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.flex .description{
    text-transform: uppercase;
}